
  #notification {
      font-size: larger;
  }

  .answer {
    padding: 7px;
    margin: 14px;
    border: 2px solid;
    font-size: large;
    text-align: center;
    height: 50px;
    background: transparent;
}

#next {
    padding: 7px;
    margin: 14px;
    border: 2px solid;
    font-size: large;
    text-align: center;
    height: 50px;
}

.answer:hover{
    background: antiquewhite;
}

#answer_container {
    min-width: 60em;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.left {
width: 500px;   
margin: 40px;
}

.right {
    margin: 40px;
}

